/* arrow keys */
.arrow {
    width: 50px;
    height: 50px;
    background-color: blue;
    margin-bottom: 5px;
}
#down {
    background-image: url(images/up.png);
}
#left {
    display: inline-block;
    margin-right: 50px;
}
#right {
    display: inline-block;
}
#up {
    background-image: url(images/up.png);
}


/* fruits  */
.fruit {
    height: 20px;
    width: 20px;
    position: absolute;
}
.fruit-display {
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}


/* game screen  */
#game-screen {
    height: 400px;
    width: 400px;
    background-color: black;
    text-align: center;
}
#clock {
    color: white;
    position: relative;
    display: inline-block;
    margin-right: 70px;
}


/* scoring system  */
#high-score {
    color: white;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
#score {
    color: white;
    position: relative;
    display: inline-block;
}


/* snake  */
#snake-head {
    background-color: green;
    z-index: 1;
}
.snake {
    height: 20px;
    width: 20px;
    background-color: lightgreen;
    position: absolute;
    z-index: 0;
}
