/* arrow keys */
.arrow {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    margin-left: 50px;
}

#a {
    display: inline-block;
    margin-left: 0;
}

#d {
    display: inline-block;
}



.fruit {
    position: absolute;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

/* game screen  */
#game-screen {
    height: 400px;
    width: 400px;
    background-color: black;
}

#clock {
    color: white;
    position: relative;
    display: inline-block;
    margin-left: 7px;
    margin-right: 14px;
}

#pause {
    color: white;
    background-color: black;
    position: relative;
    display: inline;
    margin-right: 14px;
}

/* letters */
.letter {
    color: white;
    position: absolute;
}
.letter-display {
    color: black;
    position: relative;
    display: inline-block;
}

/* scoring system  */
#high-score {
    color: white;
    position: relative;
    display: inline-block;
    margin-right: 14px;
}

#score {
    color: white;
    position: relative;
    display: inline-block;
}


/* snake  */
#snake-head {
    background-color: green;
    z-index: 1;
}

.snake {
    height: 20px;
    width: 20px;
    background-color: lightgreen;
    position: absolute;
    z-index: 0;
}
